

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Test Results
    style.
      body {
        font-family: 'Arial', sans-serif;
        background-color: #a9a9a9;
        color: #333;
        margin: 0;
        padding: 20px;
        line-height: 1.6;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background: #a9a9a9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
        text-align: center;
      }
      p {
        font-size: 16px;
        margin-bottom: 10px;
        color: #666;
      }
      .highlight {
        font-size: 20px;
        font-weight: bold;
        color: #e67e22;
      }
      .footer {
        font-size: 12px;
        color: #999;
        text-align: center;
        margin-top: 30px;
      }
      a {
        color: #1a0dab;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }

  body
    .container
      h1 Dear #{name},
      p Congratulations on completing your test! 🎉
      p You have scored:
      p.highlight #{marks} Marks
      p Keep up the great work and continue striving for excellence.
      p Wishing you all the best in your future endeavors.

      p If you have any questions or need further assistance, feel free to contact us.

      .footer
        p Best regards,
        p The Examts Team
        p Follow us on 
        a(href="https://github.com/0ujjwal0/examly") Github Repository
        |
        
